<a href="https://colab.research.google.com/github/JorgeFreitagAcademic/aulasPython/blob/main/Aula08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Listas, Tuplas e Dicionarios

##Listas

In [6]:
lista = [1,2,3,4]
print(lista)
lista.append(5)
print(lista)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [26]:
lis = [1,2,3]
new_lis = lis
lis.append(4)
new_lis.append(5)
print(lis)
print(new_lis)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [59]:
frutas = ['abacate','banana','caja']

In [60]:
for num in frutas:
  if num == frutas[1]:
    print(num)

banana

##Tuplas

In [9]:
tupla = (1,2,3,4)   # tupla.append(5) n√£o existe atributo append
tupla

(1, 2, 3, 4)

In [21]:
tupla = ('214124')
tuple(tupla)

('2', '1', '4', '1', '2', '4')

In [40]:
times = ('santos', 'real madrid', 'millan', 'liverpool', 'bayer de monique')
type(times)

tuple

In [41]:
tuple(times)

('santos', 'real madrid', 'millan', 'liverpool', 'bayer de monique')

In [42]:
for nome in times:
  print(nome)

santos
real madrid
millan
liverpool
bayer de monique

In [45]:
for num, nome in enumerate(times):
  print(num, '-', nome)

0 - santos
1 - real madrid
2 - millan
3 - liverpool
4 - bayer de monique

In [48]:
for num, nome in enumerate(times):
  print(num, '-', nome)
  print('-=' * 30, '=-')

0 - santos
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= =-
1 - real madrid
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= =-
2 - millan
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= =-
3 - liverpool
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= =-
4 - bayer de monique
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= =-

In [71]:
for num, nome in enumerate(frutas):
  print(num, '-', nome.upper())

0 - ABACATE
1 - BANANA
2 - CAJA

In [74]:
for num, nome in enumerate(frutas):
  frutas[num] = nome.upper()

In [73]:
i = 0
for fruta in frutas:
  frutas[i] = fruta.lower()
  i += 1
  print(fruta)

abacate
banana
caja

##Dicionario

In [76]:
dicionario = {'nome': 'julio', 'idade': '22', 'cor': 'verde', 'altura': 1.72, 'massa': 90}

In [81]:
dicionario['idade']

'22'

In [82]:
print(type(dicionario))

<class 'dict'>

In [83]:
dicionario.keys()

dict_keys(['nome', 'idade', 'cor', 'altura', 'massa'])

In [87]:
dicionario.values()

dict_values(['julio', '22', 'verde', 1.72, 90])

In [88]:
dicionario.items()

dict_items([('nome', 'julio'), ('idade', '22'), ('cor', 'verde'), ('altura', 1.72), ('massa', 90)])

In [92]:
for chave in dicionario.keys():
  print(chave)

nome
idade
cor
altura
massa

In [93]:
for valor in dicionario.values():
  print(valor)

julio
22
verde
1.72
90

In [94]:
for item in dicionario.items():
  print(item)

('nome', 'julio')
('idade', '22')
('cor', 'verde')
('altura', 1.72)
('massa', 90)

In [95]:
for key, value in dicionario.items():
  print(key, '-', value)

nome - julio
idade - 22
cor - verde
altura - 1.72
massa - 90

In [98]:
dicionario['pai'] = 'pereira'

In [102]:
dicionario['massa'] = 88

In [109]:
del(dicionario['pai'])

In [110]:
for key, value in dicionario.items():
  print(key, '-', value)

nome - julio
idade - 22
cor - verde
altura - 1.72
massa - 88