<a href="https://colab.research.google.com/github/JorgeFreitagAcademic/aulasPython/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bibliotecas importadas

In [ ]:
import pandas as pd

#Funções

##Importando dataframe

In [ ]:
df = pd.read_csv('/perguntas_alunos - Página1.csv')

In [ ]:
df

,Nome,Data_de_nascimento,endereco,cidade,estado,nome mae,nome pai,casado,filhos,esporte_favorito,fruta favorita,profissao,altura,IDADE,PESO
0,Jose Vitor da Silva Santos,08/04/2002,Rua Eurico Gonçalves Berbert,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Basquete,Laranja,Estudante,"1,81",20,88
1,Ediney dos anjos Blasques Andres,18/12/1995,"Rua Germano Berloffa,190",Paiçandu,Paraná,Vera Lucia dos Anjos Blasques Andres,Eldo Jose Blasques Andres,Não,Não,Arrancada e corrida de carro,Morgote,Assistente Admistrativo e Transporte,"1,75",26,"81,5"
2,Pedro Henrique Bergamini Hupalowski,26/12/2000,Rua Taí 1178,Sarandi,Paraná,Roberta Juliana Pereira Bergamini,Andre Douglas Hupalowski,Não,Não,NaN,Manga,Estudante,"1,8",21,92
3,Thiago Miguel,04/08/1997,R. J Bonifacio N°134,Sarandi,Paraná,Marina Maria,Devanil Miguel,Não,Não,Ciclismo,Goiaba,Repositor,1.78,25,"79,4"
4,Jorge Henrique Domingues Freitag,29/04/2002,"Rua Vereador Nelson Abrão, 625",Maringá,Paraná,Rosa Maria Domingues,Jorge Henrique Freitag,NaN,Não,Judô,Manga,Estudante,"1,76",20,95
5,Kevin Rafael,17/09/1999,Rua antonio novelli,Paiçandu,Paraná,Elaine Vigarini,Tatiano Oliveira,Não,Não,Futebol,Maçã,Vendedor,"1,9",23,120
6,Joao Pedro da Silva Santos,08/04/2002,R. Eurico Gonçalves Berbert,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Futebol,Melancia,Estudante,"1,82",20,"86,6"
7,Eduardo Francisco Mota dos Santos,10/10/2001,"Rua Bragança, 345, AP204",Maringá,Paraná,Inês Mota dos Santos,Reinalvo Francisco dos Santos,Não,Não,Basquete,Laranja,Vendedor,"1,83",21,65