<a href="https://colab.research.google.com/github/JorgeFreitagAcademic/aulasPython/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bibliotecas importadas

In [12]:
import pandas as pd
import random

#Funções

##Importando dataframe

In [13]:
df = pd.read_csv('/content/perguntas_alunos - Página1.csv')

In [14]:
df.columns

Index(['Nome', 'Data_de_nascimento', 'endereco', 'cidade', 'estado',
       'nome mae', 'nome pai', 'casado', 'filhos', 'esporte_favorito',
       'fruta favorita', 'profissao', 'altura', 'IDADE', 'PESO'],
      dtype='object')

###Adendo sobre funçoes

####Criando funções

In [15]:
def acc(num):
  num += 1
  return num

In [16]:
acc(1)

2

####Função de multiplo valor

In [17]:
def soma(n1, n2):
  sum = n1 + n2
  # return sum
  return print(f'A soma do número {n1} com o número {n2} foi {n1 + n2}')

In [18]:
soma(2,6)

A soma do número 2 com o número 6 foi 8

####Exemplo de função em lista

Lista automática aleatoria

In [19]:
lista = []
listlen = random.randint(1, 11)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 11)
    lista.append(x)
print(lista)

[6, 10, 15, 28, 25, 60, 28, 56, 90, 50]

Exemplo de objetivo da função

In [20]:
lista_2 = []
for i in lista:
  lista_2.append(i ** 2)
print(lista_2)

[36, 100, 225, 784, 625, 3600, 784, 3136, 8100, 2500]

Implementação em function

In [21]:
def lista_quadrado(lista_1):
  lista_2 = []
  for i in lista_1:
    lista_2.append(i ** 2)
  return lista_2
lista_quadrado(lista)

[36, 100, 225, 784, 625, 3600, 784, 3136, 8100, 2500]

##Implementando funções ao dataframe

In [22]:
df.shape

(8, 15)

Feature Name

feature Name foi renomeada (Nome => NOME)

In [23]:
df.rename(columns = {'Nome':'NOME'}, inplace = True)
df

,NOME,Data_de_nascimento,endereco,cidade,estado,nome mae,nome pai,casado,filhos,esporte_favorito,fruta favorita,profissao,altura,IDADE,PESO
0,Jose Vitor da Silva Santos,08/04/2002,Rua Eurico Gonçalves Berbert,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Basquete,Laranja,Estudante,"1,81",20,88
1,Ediney dos anjos Blasques Andres,18/12/1995,"Rua Germano Berloffa,190",Paiçandu,Paraná,Vera Lucia dos Anjos Blasques Andres,Eldo Jose Blasques Andres,Não,Não,Arrancada e corrida de carro,Morgote,Assistente Admistrativo e Transporte,"1,75",26,"81,5"
2,Pedro Henrique Bergamini Hupalowski,26/12/2000,Rua Taí 1178,Sarandi,Paraná,Roberta Juliana Pereira Bergamini,Andre Douglas Hupalowski,Não,Não,NaN,Manga,Estudante,"1,8",21,92
3,Thiago Miguel,04/08/1997,R. J Bonifacio N°134,Sarandi,Paraná,Marina Maria,Devanil Miguel,Não,Não,Ciclismo,Goiaba,Repositor,1.78,25,"79,4"
4,Jorge Henrique Domingues Freitag,29/04/2002,"Rua Vereador Nelson Abrão, 625",Maringá,Paraná,Rosa Maria Domingues,Jorge Henrique Freitag,NaN,Não,Judô,Manga,Estudante,"1,76",20,95
5,Kevin Rafael,17/09/1999,Rua antonio novelli,Paiçandu,Paraná,Elaine Vigarini,Tatiano Oliveira,Não,Não,Futebol,Maçã,Vendedor,"1,9",23,120
6,Joao Pedro da Silva Santos,08/04/2002,R. Eurico Gonçalves Berbert,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Futebol,Melancia,Estudante,"1,82",20,"86,6"
7,Eduardo Francisco Mota dos Santos,10/10/2001,"Rua Bragança, 345, AP204",Maringá,Paraná,Inês Mota dos Santos,Reinalvo Francisco dos Santos,Não,Não,Basquete,Laranja,Vendedor,"1,83",21,65

Transformar todos os nomes em capitalcase

In [24]:
for i in df['NOME']:
  print(i)

Jose Vitor da Silva Santos
Ediney dos anjos Blasques Andres
Pedro Henrique Bergamini Hupalowski
Thiago Miguel
Jorge Henrique Domingues Freitag
Kevin Rafael
Joao Pedro da Silva Santos
Eduardo Francisco Mota dos Santos

In [25]:
for i in df.iterrows():
  print(i[1][0])

Jose Vitor da Silva Santos
Ediney dos anjos Blasques Andres
Pedro Henrique Bergamini Hupalowski
Thiago Miguel
Jorge Henrique Domingues Freitag
Kevin Rafael
Joao Pedro da Silva Santos
Eduardo Francisco Mota dos Santos

In [26]:
for index, nome in enumerate(df['NOME']):
  print(index)
  print(nome)

0
Jose Vitor da Silva Santos
1
Ediney dos anjos Blasques Andres
2
Pedro Henrique Bergamini Hupalowski
3
Thiago Miguel
4
Jorge Henrique Domingues Freitag
5
Kevin Rafael
6
Joao Pedro da Silva Santos
7
Eduardo Francisco Mota dos Santos

In [27]:
for i in df['NOME']:
  print(i.upper())

JOSE VITOR DA SILVA SANTOS
EDINEY DOS ANJOS BLASQUES ANDRES
PEDRO HENRIQUE BERGAMINI HUPALOWSKI
THIAGO MIGUEL
JORGE HENRIQUE DOMINGUES FREITAG
KEVIN RAFAEL
JOAO PEDRO DA SILVA SANTOS
EDUARDO FRANCISCO MOTA DOS SANTOS

In [28]:
def capitalcase(a):
  for idx, string in enumerate(a):
    a[idx] = string.upper()
  return a

In [29]:
capitalcase(df['endereco'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0      RUA EURICO GONÇALVES BERBERT
1          RUA GERMANO BERLOFFA,190
2                      RUA TAÍ 1178
3              R. J BONIFACIO N°134
4    RUA VEREADOR NELSON ABRÃO, 625
5               RUA ANTONIO NOVELLI
6       R. EURICO GONÇALVES BERBERT
7          RUA BRAGANÇA, 345, AP204
Name: endereco, dtype: object

In [30]:
capitalcase(df['fruta favorita'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0     LARANJA
1     MORGOTE
2       MANGA
3      GOIABA
4       MANGA
5        MAÇÃ
6    MELANCIA
7     LARANJA
Name: fruta favorita, dtype: object

Feature *Numéricos*

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NOME                8 non-null      object
 1   Data_de_nascimento  8 non-null      object
 2   endereco            8 non-null      object
 3   cidade              8 non-null      object
 4   estado              8 non-null      object
 5   nome mae            8 non-null      object
 6   nome pai            8 non-null      object
 7   casado              7 non-null      object
 8   filhos              8 non-null      object
 9   esporte_favorito    7 non-null      object
 10  fruta favorita      8 non-null      object
 11  profissao           8 non-null      object
 12  altura              8 non-null      object
 13  IDADE               8 non-null      int64
 14  PESO                8 non-null      object
dtypes: int64(1), object(14)
memory usage: 1.1+ KB

In [32]:
df['altura']

0    1,81
1    1,75
2     1,8
3    1.78
4    1,76
5     1,9
6    1,82
7    1,83
Name: altura, dtype: object

In [33]:
df['altura'] = df['altura'].apply(lambda x: x.replace(',','.'))

In [34]:
df['altura']

0    1.81
1    1.75
2     1.8
3    1.78
4    1.76
5     1.9
6    1.82
7    1.83
Name: altura, dtype: object

In [35]:
df['PESO'] = df['PESO'].apply(lambda x: x.replace(',','.'))

In [36]:
df['PESO']

0      88
1    81.5
2      92
3    79.4
4      95
5     120
6    86.6
7      65
Name: PESO, dtype: object

##Alterando o tipo de dado

In [37]:
df['altura'] = df['altura'].astype(float)

In [38]:
df['altura']

0    1.81
1    1.75
2    1.80
3    1.78
4    1.76
5    1.90
6    1.82
7    1.83
Name: altura, dtype: float64

In [39]:
df['PESO'] = df['PESO'].astype(float)

In [40]:
df['PESO']

0     88.0
1     81.5
2     92.0
3     79.4
4     95.0
5    120.0
6     86.6
7     65.0
Name: PESO, dtype: float64

In [41]:
df['Data_de_nascimento']

0    08/04/2002
1    18/12/1995
2    26/12/2000
3    04/08/1997
4    29/04/2002
5    17/09/1999
6    08/04/2002
7    10/10/2001
Name: Data_de_nascimento, dtype: object

In [42]:
df['Data_de_nascimento'] = pd.to_datetime(df['Data_de_nascimento'])

In [43]:
df['Data_de_nascimento']

0   2002-08-04
1   1995-12-18
2   2000-12-26
3   1997-04-08
4   2002-04-29
5   1999-09-17
6   2002-08-04
7   2001-10-10
Name: Data_de_nascimento, dtype: datetime64[ns]

In [44]:
df['ano'] = df['Data_de_nascimento'].dt.year

In [45]:
df['mes'] = df['Data_de_nascimento'].dt.month

In [46]:
df['dia'] = df['Data_de_nascimento'].dt.day

In [47]:
df['nome_do_dia'] = df['Data_de_nascimento'].dt.day_name()

In [48]:
df

,NOME,Data_de_nascimento,endereco,cidade,estado,nome mae,nome pai,casado,filhos,esporte_favorito,fruta favorita,profissao,altura,IDADE,PESO,ano,mes,dia,nome_do_dia
0,Jose Vitor da Silva Santos,2002-08-04,RUA EURICO GONÇALVES BERBERT,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Basquete,LARANJA,Estudante,1.81,20,88.0,2002,8,4,Sunday
1,Ediney dos anjos Blasques Andres,1995-12-18,"RUA GERMANO BERLOFFA,190",Paiçandu,Paraná,Vera Lucia dos Anjos Blasques Andres,Eldo Jose Blasques Andres,Não,Não,Arrancada e corrida de carro,MORGOTE,Assistente Admistrativo e Transporte,1.75,26,81.5,1995,12,18,Monday
2,Pedro Henrique Bergamini Hupalowski,2000-12-26,RUA TAÍ 1178,Sarandi,Paraná,Roberta Juliana Pereira Bergamini,Andre Douglas Hupalowski,Não,Não,NaN,MANGA,Estudante,1.80,21,92.0,2000,12,26,Tuesday
3,Thiago Miguel,1997-04-08,R. J BONIFACIO N°134,Sarandi,Paraná,Marina Maria,Devanil Miguel,Não,Não,Ciclismo,GOIABA,Repositor,1.78,25,79.4,1997,4,8,Tuesday
4,Jorge Henrique Domingues Freitag,2002-04-29,"RUA VEREADOR NELSON ABRÃO, 625",Maringá,Paraná,Rosa Maria Domingues,Jorge Henrique Freitag,NaN,Não,Judô,MANGA,Estudante,1.76,20,95.0,2002,4,29,Monday
5,Kevin Rafael,1999-09-17,RUA ANTONIO NOVELLI,Paiçandu,Paraná,Elaine Vigarini,Tatiano Oliveira,Não,Não,Futebol,MAÇÃ,Vendedor,1.90,23,120.0,1999,9,17,Friday
6,Joao Pedro da Silva Santos,2002-08-04,R. EURICO GONÇALVES BERBERT,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Futebol,MELANCIA,Estudante,1.82,20,86.6,2002,8,4,Sunday
7,Eduardo Francisco Mota dos Santos,2001-10-10,"RUA BRAGANÇA, 345, AP204",Maringá,Paraná,Inês Mota dos Santos,Reinalvo Francisco dos Santos,Não,Não,Basquete,LARANJA,Vendedor,1.83,21,65.0,2001,10,10,Wednesday

##Salvando o arquivo

In [49]:
df.to_excel('df_tratado_parte1.xlsx')

###Tratamento de arquivo

In [50]:
df['MÃE'], df['MÃE_SOBRENOME'] = df['nome mae'].str.split(n=1, expand = True)

In [51]:
df['nome mae'].str.split(' ', n=1, expand = True)

         0                                1
0    Maria               de Fatima da Silva
1     Vera  Lucia dos Anjos Blasques Andres
2  Roberta        Juliana Pereira Bergamini
3   Marina                            Maria
4     Rosa                  Maria Domingues
5   Elaine                         Vigarini
6    Maria               de Fatima da Silva
7     Inês                  Mota dos Santos

In [52]:
df

,NOME,Data_de_nascimento,endereco,cidade,estado,nome mae,nome pai,casado,filhos,esporte_favorito,...,profissao,altura,IDADE,PESO,ano,mes,dia,nome_do_dia,MÃE,MÃE_SOBRENOME
0,Jose Vitor da Silva Santos,2002-08-04,RUA EURICO GONÇALVES BERBERT,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Basquete,...,Estudante,1.81,20,88.0,2002,8,4,Sunday,0,1
1,Ediney dos anjos Blasques Andres,1995-12-18,"RUA GERMANO BERLOFFA,190",Paiçandu,Paraná,Vera Lucia dos Anjos Blasques Andres,Eldo Jose Blasques Andres,Não,Não,Arrancada e corrida de carro,...,Assistente Admistrativo e Transporte,1.75,26,81.5,1995,12,18,Monday,0,1
2,Pedro Henrique Bergamini Hupalowski,2000-12-26,RUA TAÍ 1178,Sarandi,Paraná,Roberta Juliana Pereira Bergamini,Andre Douglas Hupalowski,Não,Não,NaN,...,Estudante,1.80,21,92.0,2000,12,26,Tuesday,0,1
3,Thiago Miguel,1997-04-08,R. J BONIFACIO N°134,Sarandi,Paraná,Marina Maria,Devanil Miguel,Não,Não,Ciclismo,...,Repositor,1.78,25,79.4,1997,4,8,Tuesday,0,1
4,Jorge Henrique Domingues Freitag,2002-04-29,"RUA VEREADOR NELSON ABRÃO, 625",Maringá,Paraná,Rosa Maria Domingues,Jorge Henrique Freitag,NaN,Não,Judô,...,Estudante,1.76,20,95.0,2002,4,29,Monday,0,1
5,Kevin Rafael,1999-09-17,RUA ANTONIO NOVELLI,Paiçandu,Paraná,Elaine Vigarini,Tatiano Oliveira,Não,Não,Futebol,...,Vendedor,1.90,23,120.0,1999,9,17,Friday,0,1
6,Joao Pedro da Silva Santos,2002-08-04,R. EURICO GONÇALVES BERBERT,Maringá,Paraná,Maria de Fatima da Silva,Rodrigo dos Santos,Não,Não,Futebol,...,Estudante,1.82,20,86.6,2002,8,4,Sunday,0,1
7,Eduardo Francisco Mota dos Santos,2001-10-10,"RUA BRAGANÇA, 345, AP204",Maringá,Paraná,Inês Mota dos Santos,Reinalvo Francisco dos Santos,Não,Não,Basquete,...,Vendedor,1.83,21,65.0,2001,10,10,Wednesday,0,1

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NOME                8 non-null      object
 1   Data_de_nascimento  8 non-null      datetime64[ns]
 2   endereco            8 non-null      object
 3   cidade              8 non-null      object
 4   estado              8 non-null      object
 5   nome mae            8 non-null      object
 6   nome pai            8 non-null      object
 7   casado              7 non-null      object
 8   filhos              8 non-null      object
 9   esporte_favorito    7 non-null      object
 10  fruta favorita      8 non-null      object
 11  profissao           8 non-null      object
 12  altura              8 non-null      float64
 13  IDADE               8 non-null      int64
 14  PESO                8 non-null      float64
 15  ano                 8 non-null      int64
 16  mes                 8 non-null      int64
 17  dia                 8 non-null      int64
 18  nome_do_dia         8 non-null      object
 19  MÃE                 8 non-null      int64
 20  MÃE_SOBRENOME       8 non-null      int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(12)
memory usage: 1.4+ KB

In [66]:
df.replace(to_replace='NAN', value='Não', inplace = True)

###Deixando tudo maiúsculo

In [70]:
def capitalcase(a):
  for idx, string in enumerate(a):
    a[idx] = string.upper()
  return a

capitalcase(df['NOME'])
capitalcase(df['cidade'])
capitalcase(df['estado'])
capitalcase(df['nome mae'])
capitalcase(df['nome pai'])
# capitalcase(df['casado'])
capitalcase(df['filhos'])
# capitalcase(df['esporte_favorito'])
capitalcase(df['fruta favorita'])
capitalcase(df['profissao'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0                               ESTUDANTE
1    ASSISTENTE ADMISTRATIVO E TRANSPORTE
2                               ESTUDANTE
3                               REPOSITOR
4                               ESTUDANTE
5                                VENDEDOR
6                               ESTUDANTE
7                                VENDEDOR
Name: profissao, dtype: object

In [71]:
df.head(100)

,NOME,Data_de_nascimento,endereco,cidade,estado,nome mae,nome pai,casado,filhos,esporte_favorito,...,profissao,altura,IDADE,PESO,ano,mes,dia,nome_do_dia,MÃE,MÃE_SOBRENOME
0,JOSE VITOR DA SILVA SANTOS,2002-08-04,RUA EURICO GONÇALVES BERBERT,MARINGÁ,PARANÁ,MARIA DE FATIMA DA SILVA,RODRIGO DOS SANTOS,NÃO,NÃO,Basquete,...,ESTUDANTE,1.81,20,88.0,2002,8,4,Sunday,0,1
1,EDINEY DOS ANJOS BLASQUES ANDRES,1995-12-18,"RUA GERMANO BERLOFFA,190",PAIÇANDU,PARANÁ,VERA LUCIA DOS ANJOS BLASQUES ANDRES,ELDO JOSE BLASQUES ANDRES,NÃO,NÃO,Arrancada e corrida de carro,...,ASSISTENTE ADMISTRATIVO E TRANSPORTE,1.75,26,81.5,1995,12,18,Monday,0,1
2,PEDRO HENRIQUE BERGAMINI HUPALOWSKI,2000-12-26,RUA TAÍ 1178,SARANDI,PARANÁ,ROBERTA JULIANA PEREIRA BERGAMINI,ANDRE DOUGLAS HUPALOWSKI,NÃO,NÃO,NaN,...,ESTUDANTE,1.80,21,92.0,2000,12,26,Tuesday,0,1
3,THIAGO MIGUEL,1997-04-08,R. J BONIFACIO N°134,SARANDI,PARANÁ,MARINA MARIA,DEVANIL MIGUEL,NÃO,NÃO,Ciclismo,...,REPOSITOR,1.78,25,79.4,1997,4,8,Tuesday,0,1
4,JORGE HENRIQUE DOMINGUES FREITAG,2002-04-29,"RUA VEREADOR NELSON ABRÃO, 625",MARINGÁ,PARANÁ,ROSA MARIA DOMINGUES,JORGE HENRIQUE FREITAG,NaN,NÃO,Judô,...,ESTUDANTE,1.76,20,95.0,2002,4,29,Monday,0,1
5,KEVIN RAFAEL,1999-09-17,RUA ANTONIO NOVELLI,PAIÇANDU,PARANÁ,ELAINE VIGARINI,TATIANO OLIVEIRA,Não,NÃO,Futebol,...,VENDEDOR,1.90,23,120.0,1999,9,17,Friday,0,1
6,JOAO PEDRO DA SILVA SANTOS,2002-08-04,R. EURICO GONÇALVES BERBERT,MARINGÁ,PARANÁ,MARIA DE FATIMA DA SILVA,RODRIGO DOS SANTOS,Não,NÃO,Futebol,...,ESTUDANTE,1.82,20,86.6,2002,8,4,Sunday,0,1
7,EDUARDO FRANCISCO MOTA DOS SANTOS,2001-10-10,"RUA BRAGANÇA, 345, AP204",MARINGÁ,PARANÁ,INÊS MOTA DOS SANTOS,REINALVO FRANCISCO DOS SANTOS,Não,NÃO,Basquete,...,VENDEDOR,1.83,21,65.0,2001,10,10,Wednesday,0,1

##Incorporando databank

In [55]:
from pymongo import MongoClient

Chave de client
mongodb+srv://freitag:<password>@cluster0.5mjaief.mongodb.net/?retryWrites=true&w=majority
user = freitag
password = Not4Me

In [56]:
client = MongoClient('mongodb+srv://freitag:Not4Me@cluster0.5mjaief.mongodb.net/?retryWrites=true&w=majority')

In [57]:
db = client.get_database('database')

In [58]:
collection = db.collection

###Salvar em Json

In [77]:
df.to_json('df_tratado_json.json',orient = 'index')

In [78]:
df_json = pd.read_json('/content/df_tratado_json.json')

In [80]:
df_json.head(100)

,0,1,2,3,4,5,6,7
NOME,JOSE VITOR DA SILVA SANTOS,EDINEY DOS ANJOS BLASQUES ANDRES,PEDRO HENRIQUE BERGAMINI HUPALOWSKI,THIAGO MIGUEL,JORGE HENRIQUE DOMINGUES FREITAG,KEVIN RAFAEL,JOAO PEDRO DA SILVA SANTOS,EDUARDO FRANCISCO MOTA DOS SANTOS
Data_de_nascimento,1028419200000,819244800000,977788800000,860457600000,1020038400000,937526400000,1028419200000,1002672000000
endereco,RUA EURICO GONÇALVES BERBERT,"RUA GERMANO BERLOFFA,190",RUA TAÍ 1178,R. J BONIFACIO N°134,"RUA VEREADOR NELSON ABRÃO, 625",RUA ANTONIO NOVELLI,R. EURICO GONÇALVES BERBERT,"RUA BRAGANÇA, 345, AP204"
cidade,MARINGÁ,PAIÇANDU,SARANDI,SARANDI,MARINGÁ,PAIÇANDU,MARINGÁ,MARINGÁ
estado,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ,PARANÁ
nome mae,MARIA DE FATIMA DA SILVA,VERA LUCIA DOS ANJOS BLASQUES ANDRES,ROBERTA JULIANA PEREIRA BERGAMINI,MARINA MARIA,ROSA MARIA DOMINGUES,ELAINE VIGARINI,MARIA DE FATIMA DA SILVA,INÊS MOTA DOS SANTOS
nome pai,RODRIGO DOS SANTOS,ELDO JOSE BLASQUES ANDRES,ANDRE DOUGLAS HUPALOWSKI,DEVANIL MIGUEL,JORGE HENRIQUE FREITAG,TATIANO OLIVEIRA,RODRIGO DOS SANTOS,REINALVO FRANCISCO DOS SANTOS
casado,NÃO,NÃO,NÃO,NÃO,None,Não,Não,Não
filhos,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO
esporte_favorito,Basquete,Arrancada e corrida de carro,None,Ciclismo,Judô,Futebol,Futebol,Basquete
fruta favorita,LARANJA,MORGOTE,MANGA,GOIABA,MANGA,MAÇÃ,MELANCIA,LARANJA
profissao,ESTUDANTE,ASSISTENTE ADMISTRATIVO E TRANSPORTE,ESTUDANTE,REPOSITOR,ESTUDANTE,VENDEDOR,ESTUDANTE,VENDEDOR
altura,1.81,1.75,1.8,1.78,1.76,1.9,1.82,1.83
IDADE,20,26,21,25,20,23,20,21
PESO,88.0,81.5,92.0,79.4,95.0,120.0,86.6,65.0
ano,2002,1995,2000,1997,2002,1999,2002,2001
mes,8,12,12,4,4,9,8,10
dia,4,18,26,8,29,17,4,10
nome_do_dia,Sunday,Monday,Tuesday,Tuesday,Monday,Friday,Sunday,Wednesday
MÃE,0,0,0,0,0,0,0,0
MÃE_SOBRENOME,1,1,1,1,1,1,1,1

###Abrindo json em python

In [73]:
import json

with open("df_tratado_json.json", encoding='utf-8') as meu_json:
    dados = json.load(meu_json)
    collection.insert_many(dados.values())

ServerSelectionTimeoutError: ignored